<clr-datagrid [clrDgLoading]="loading" [clrDgSelected]="selected">
  <clr-dg-action-bar>
    <div class="btn-group">
      <button type="button" class="btn btn-sm btn-secondary" (click)="onAdd()">
        <clr-icon shape="plus" size="16"></clr-icon>
        添加
      </button>
      <button type="button" class="btn btn-sm btn-secondary" (click)="onDelete()"
              [disabled]="selected.length == 0">
        <clr-icon shape="close"></clr-icon>
        删除
      </button>
    </div>
  </clr-dg-action-bar>
  <clr-dg-column>名称</clr-dg-column>
  <clr-dg-column>离线包</clr-dg-column>
  <!--  <clr-dg-column>节点</clr-dg-column>-->
  <clr-dg-column>创建时间</clr-dg-column>

  <clr-dg-row *clrDgItems="let cluster of items" [clrDgItem]="cluster">
    <clr-dg-cell><a routerLink="{{cluster.name}}">{{cluster.name}}</a></clr-dg-cell>
    <clr-dg-cell>{{cluster.package}}</clr-dg-cell>
    <!--    <clr-dg-cell><a routerLink="{{cluster.name}}/node">{{cluster.nodes.length}}</a></clr-dg-cell>-->
    <clr-dg-cell>{{cluster.date_created | date: 'yyyy-MM-dd HH:mm:ss'}}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>

  </clr-dg-footer>

</clr-datagrid>

