<clr-datagrid [clrDgLoading]="loading" [clrDgSelected]="selected">
  <clr-dg-action-bar>
    <clr-button-group>
      <clr-button type="button" class="btn btn-sm btn-secondary" (click)="onAdd()">
        <clr-icon shape="plus" size="16"></clr-icon>
        添加
      </clr-button>
      <clr-button type="button" class="btn btn-sm btn-secondary" [disabled]="selected.length === 0"
                  (click)="onDelete()">
        <clr-icon shape="close"></clr-icon>
        删除
      </clr-button>
    </clr-button-group>

  </clr-dg-action-bar>
  <clr-dg-column>用户名</clr-dg-column>
  <clr-dg-column>邮箱</clr-dg-column>
  <clr-dg-column>管理员</clr-dg-column>
  <clr-dg-column>启用</clr-dg-column>


  <clr-dg-row *ngFor="let item of items" [clrDgItem]="item">
    <clr-dg-cell>{{item.username}}</clr-dg-cell>
    <clr-dg-cell>{{item.email}}</clr-dg-cell>
    <clr-dg-cell><span *ngIf="item.is_superuser">是</span><span *ngIf="!item.is_superuser">否</span></clr-dg-cell>
    <clr-dg-cell>
      <input clrToggle type="checkbox" name="active" [(ngModel)]="item.is_active" (change)="toggleActiveUser(item)"/>
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>

  </clr-dg-footer>

</clr-datagrid>
