<clr-wizard #wizard [(clrWizardOpen)]="opened">
  <clr-wizard-title>创建集群</clr-wizard-title>

  <clr-wizard-button [type]="'cancel'">取消</clr-wizard-button>
  <clr-wizard-button [type]="'previous'">上一步</clr-wizard-button>
  <clr-wizard-button [type]="'next'">下一步</clr-wizard-button>
  <clr-wizard-button [type]="'finish'">完成</clr-wizard-button>

  <clr-wizard-page>
    <ng-template clrPageTitle>基本信息</ng-template>
    <form clrForm>
      <clr-input-container>
        <label>名称</label>
        <input clrInput size="45" type="text" [(ngModel)]="cluster.name" name="name"/>
      </clr-input-container>
      <clr-input-container>
        <label>域名</label>
        <input clrInput size="45" type="text" [(ngModel)]="cluster.configs[' domain']" name="domain"/>
      </clr-input-container>
      <clr-select-container>
        <label>离线包</label>
        <select clrSelect [(ngModel)]="cluster.package" name="package">
          <option value=""></option>
          <option *ngFor="let pkg of packages" [value]="pkg.name">{{pkg.name}}</option>
        </select>
      </clr-select-container>
    </form>
  </clr-wizard-page>

  <clr-wizard-page>
    <ng-template clrPageTitle>配置节点</ng-template>
    <form clrForm>
      <div *ngFor="let node of nodes">
        <div>
          <h3>{{node.name}}<span (click)="deleteNode(node)">删除</span></h3>
          <hr/>
        </div>
        <clr-select-container>
          <label>主机</label>
          <select clrSelect type="text">
            <option value=""></option>
            <option *ngFor="let host of hosts" [value]="host.name">{{host.name}}</option>
          </select>
        </clr-select-container>
        <clr-checkbox-container>
          <label>角色</label>
          <clr-checkbox-wrapper>
            <label>Master</label>
            <input clrCheckbox type="checkbox" [name]="node.name+'master'" [(ngModel)]="node.roles['master']">
          </clr-checkbox-wrapper>
          <clr-checkbox-wrapper>
            <label>Worker</label>
            <input clrCheckbox type="checkbox" [name]="node.name+ 'worker'" [(ngModel)]="node.roles['worker']">
          </clr-checkbox-wrapper>
          <clr-checkbox-wrapper>
            <label>Router</label>
            <input clrCheckbox type="checkbox" [name]="node.name+ 'router'" [(ngModel)]="node.roles['router']">
          </clr-checkbox-wrapper>
          <clr-checkbox-wrapper>
            <label>Loadblancer</label>
            <input clrCheckbox type="checkbox" [name]="node.name+ 'loadblancer'"
                   [(ngModel)]="node.roles['loadblancer']">
          </clr-checkbox-wrapper>
        </clr-checkbox-container>
      </div>
      <span (click)="addNode()">添加</span>

    </form>
  </clr-wizard-page>


  <clr-wizard-page>
    <ng-template clrPageTitle>配置存储</ng-template>
    <form clrForm>
      <div *ngFor="let storage of storageClazz">
        <h3>{{storage.name}}<span (click)="deleteStorageClass(storage)">X</span></h3>
        <hr/>
        <clr-select-container>
          <label>存储类型</label>
          <select clrSelect [name]="storage.name" [(ngModel)]="storage['type']">
            <option value=""></option>
            <option *ngFor="let sm of storageMetas" [ngValue]="sm">{{sm["name"]}}</option>
          </select>
        </clr-select-container>
      </div>
      <span (click)="addStorageClass()">+</span>
    </form>
  </clr-wizard-page>

  <clr-wizard-page>
    <ng-template clrPageTitle>配置网络</ng-template>
    <form clrForm>
      <clr-select-container>
        <label>网络类型</label>
        <select clrSelect name="cni" [(ngModel)]="netWork">
          <option value=""></option>
          <option *ngFor="let nm of networkMetas" [ngValue]="nm">{{nm["name"]}}</option>
        </select>
      </clr-select-container>
    </form>
  </clr-wizard-page>

  <clr-wizard-page>
    <ng-template clrPageTitle>内置应用</ng-template>
    <form clrForm>
      <div>
        <clr-checkbox-container>
          <clr-checkbox-wrapper *ngFor="let app of apps">
            <label>{{app.name }}  ({{app.describe}})</label>
            <input [disabled]="app.require" clrCheckbox type="checkbox" [name]="app.name+'install'"
                   [(ngModel)]="app.install">
          </clr-checkbox-wrapper>
        </clr-checkbox-container>
      </div>
    </form>
  </clr-wizard-page>
  <clr-wizard-page>
    <ng-template clrPageTitle>集群参数</ng-template>
    <form clrForm>
      <div>
        <h3>Docker</h3>
        <hr/>
        <clr-input-container>
          <label>Docker 数据目录</label>
          <input clrInput size="45" name="docker_data" [(ngModel)]="cluster.configs['STORAGE_DIR']">
        </clr-input-container>
        <clr-input-container>
          <label>Docker 默认网段</label>
          <input clrInput size="45" name="docker_subnet" [(ngModel)]="cluster.configs['DOCKER_ADDR']">
        </clr-input-container>
      </div>
      <div>
        <h3>Kubelet</h3>
        <hr/>
        <clr-input-container>
          <label>每个节点 POD 数量</label>
          <input clrInput size="45" name="pod" [(ngModel)]="cluster.configs['MAX_PODS']">
        </clr-input-container>
      </div>
      <div>
        <h3>Kube Proxy</h3>
        <hr/>
        <clr-select-container>
          <label>运行模式</label>
          <select clrSelect name="proxy" [(ngModel)]="cluster.configs['PROXY_MODE']">
            <option value="">请选择</option>
            <option value="iptables">IPTABLES</option>
            <option value="ipvs">IPVS</option>
          </select>
        </clr-select-container>
      </div>
      <div>
        <h3>监控</h3>
        <hr/>
        <clr-input-container>
          <label>监控数据保存时长(天)</label>
          <input clrInput size="45" name="day" [(ngModel)]="cluster.configs['PROMETHEUS_RETENTION']">
        </clr-input-container>
      </div>
    </form>
  </clr-wizard-page>

  <clr-wizard-page>
    <ng-template clrPageTitle>确认配置</ng-template>
  </clr-wizard-page>
</clr-wizard>
