<clr-datagrid [clrDgLoading]="loading" [clrDgSelected]="selected">
  <clr-dg-action-bar>
    <div class="btn-group">
      <button type="button" class="btn btn-sm btn-secondary" (click)="onAdd()">
        <clr-icon shape="plus" size="16"></clr-icon>
        添加
      </button>
      <button type="button" class="btn btn-sm btn-secondary" [disabled]="selected.length == 0" (click)="onDelete()">
        <clr-icon shape="close"></clr-icon>
        删除
      </button>
    </div>
  </clr-dg-action-bar>
  <clr-dg-column>名称</clr-dg-column>
  <clr-dg-column>IP 地址</clr-dg-column>
  <clr-dg-column>CPU(核)</clr-dg-column>
  <clr-dg-column>内存(MB)</clr-dg-column>
  <clr-dg-column>操作系统</clr-dg-column>
  <clr-dg-column>连接</clr-dg-column>


  <clr-dg-row *clrDgItems="let item of items" [clrDgItem]="item">
    <clr-dg-cell style="cursor: pointer;color: #0079b8">
      <span (click)="onDetail(item)">{{item.name}}</span>
    </clr-dg-cell>
    <clr-dg-cell>{{item.ip}}</clr-dg-cell>
    <clr-dg-cell>{{item.basic.cpu_core}}</clr-dg-cell>
    <clr-dg-cell>{{item.basic.memory}}</clr-dg-cell>
    <clr-dg-cell>{{item.basic.os_distribution}} {{item.basic.os_distribution_version}}</clr-dg-cell>
    <clr-dg-cell>{{item.connected}}</clr-dg-cell>

  </clr-dg-row>

  <clr-dg-footer>

  </clr-dg-footer>

</clr-datagrid>

